@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NBA Statistics</h1>
    <p>Learn about all the different teams in the league with up-to-date player stats from everyteam.</p>
    <p><a href="http://www.nba.com/nbatv" class="btn btn-primary btn-lg">Watch Live Games! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cool Fact #1</h2>
        <p>
            Air Jordans were once banned from the NBA
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cool Fact #2</h2>
        <p>The shortest player and the tallest player in NBA history played once for the same team</p>
    </div>
    <div class="col-md-4">
        <h2>Cool Fact #3</h2>
        <p>Jump balls used to be after every basket</p>
    </div>
</div>